<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../scripts/app.js"></script>
    <link href='https://css.gg/css' rel='stylesheet'>
</head>

<div class="header">
    <h1>Beatkeeper</h1>
</div>

<body>

    <div class="flp-browser">
        {% include "flpitem.html" %}
        {% include "flpitem.html" %}
        {% include "flpitem.html" %}
        {% include "flpitem.html" %}
        {% include "flpitem.html" %}
        {% include "flpitem.html" %}
        {% include "flpitem.html" %}
    </div>

</body>

<div class="toolbar">
    <div class="toolbar-item__file-count toolbar-item">
        <i class='gg-file toolbar-icon'></i>
        <span class="file-count">7</span>
    </div>
    <div class="toolbar-item__file-size toolbar-item">
        <i class='gg-drive toolbar-icon'></i>
        <span class="file-size">1.2 GB</span>
    </div>
</div>

</html>