<div class="flp-item">
    <div class="flp-item__header">
        <div class="flp-item__color-tag" style="background-color: #fcafaf;"></div>
        <span class="flp-item__project-file-name">My Project.flp</span>
    </div>
    <div class="flp-item__project-created-date-container flp-item__attr-container">
        <i class="gg-calendar attr-icon"></i>
        <span class="flp-item__project-created-date">Jan. 2, 2023</span>
    </div>
    <div class="flp-item__last-modified-container flp-item__attr-container">
        <i class="gg-pen attr-icon"></i>
        <span class="flp-item__last-modified">1 hour ago</span>
    </div>
    <div class="flp-item__time-spent-container flp-item__attr-container">
        <i class="gg-stopwatch attr-icon"></i>
        <span class="flp-item__time-spent">1h 30m</span>
    </div>
    <div class="flp-item__plugin-count-container flp-item__attr-container">
        <i class="gg-plug attr-icon"></i>
        <span class="flp-item__plugin-count">8 Plugins</span>
    </div>
    <div class="flp-item__channel-count-container flp-item__attr-container">
        <i class="gg-list-tree attr-icon"></i>
        <span class="flp-item__channel-count">17 Channels</span>
    </div>
    <div class="flp-item__tempo-container flp-item__attr-container">
        <i class="gg-timer attr-icon"></i>
        <span class="flp-item__tempo">200 BPM</span>
    </div>
    <div class="flp-item__actions-container flp-item__attr-container">
        <i class="gg-more-vertical-alt action-icon"></i>
    </div>
</div>