:root {
    --color-primary: #1C1C22;
    --color-secondary: #25262C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-text {
    background-color: var(--color-primary) !important;
    color: #fff;
    font-family: 'Inter', sans-serif !important;
}