:root {
    --background-color: #1C1C22;
    --foreground-color: #25262c;
    --text-color: #FFFFFF;
    --text-color-light: #E5E5E5;
    --text-color-dark: #000000;
    --text-color-dark-light: #1C1C22;
    --text-color-dark-lighter: #2C2C32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
}